@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
body {
  margin: 0;
  background: #eee;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  background: white;
  border-radius: 6px;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

form div {
  display: flex;
  align-items: center;
}

form input {
  flex-grow: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  outline: 0;
  border: 3px solid black;
}

input:focus-visible {
  border: 3px solid pink;
}
